html,
body,
.crud-container,
.cards-container,
#app {
  height: 100%;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  height: auto-fit;
  min-height: 100vh;
  padding-top: 20px;
}

.row {
  margin: 0 auto;
}

.card {
  margin: 10px auto;
  padding: 4px;
}

.wrapper {
  height: 100%;
  max-height: 300px;
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  place-content: center;
  text-align: center;
}

.spinner-border{
  display: grid;
  place-content: center;
  height: 80px;
  width:  80px;
}

.acciones {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  background-color: aliceblue;
  margin: 10px auto;
  width: 400px;
  padding: 10px 20px;
  border-radius: 10px;
}

input {
  background-color: #fcfcfc !important;
  border-radius: 10px;
  padding: 4px 0 4px 4px;
}

.required-field {
  color: #e10d0d;
  font-weight: bold;
  font-size: 20px;
}
footer {
  padding: 30px 8px;
  background-color: rgb(248,249,250);
  border-top: 1px solid rgba(143, 143, 143, 0.3);
}